.vscode-button {
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.vscode-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.vscode-dropdown {
  background-color: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-dropdown-border);
  color: var(--vscode-dropdown-foreground);
}

.vscode-dropdown option {
  background-color: var(--vscode-dropdown-listBackground);
}

.vscode-input {
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  color: var(--vscode-input-foreground);
}

.vscode-input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}
